:root{
  --primary-blue: #4285F4;
  --complementary-yellow: #FBBC04;
  --complementary-orange: #D75437;
  --complementary-green: #47E185;
  --gray-800: #2F2F2F;
  --gray-600: #7D7D7D;
  --gray-400: #F2F2F2;
  --black:#000000;
  --white:#FFFFFF;
}
body{
  background-color: var(--white);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(var(--black));
}

h1{
  font-size: 22px;
  font-weight: bold;
}

h2{
  font-size: 18px;
  font-weight: bold;
}

h3{
  font-size: 16px;
  font-weight: bold;
}

h4{
  font-size: 14px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px ;
}